<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <aside>
            <partial name="_Aside"></partial>
        </aside>
        <header>
            @* @RenderSection("Breadcrumbs", true) *@
            <partial name="_Header"></partial>
        </header>
        <section>
            @RenderBody()
        </section>
    </div>
</body>
</html>