<div class="section-container">
    <p>You can't delete this inventory while those room item(s) is/are dependent to this inventory.</p>
    <a asp-action="Index" asp-controller="Inventory"><button type="submit">Back to Inventory</button></a>
</div>
